@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 20% 98%;
    --foreground: 184 60% 10%;
    --card: 0 0% 100%;
    --card-foreground: 184 60% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 184 60% 10%;
    --primary: 184 37% 42%;
    --primary-foreground: 180 20% 98%;
    --secondary: 162 33% 65%;
    --secondary-foreground: 184 60% 10%;
    --muted: 184 10% 90%;
    --muted-foreground: 184 20% 40%;
    --accent: 162 33% 65%;
    --accent-foreground: 184 60% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 184 20% 88%;
    --input: 184 20% 88%;
    --ring: 184 37% 42%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 184 60% 5%;
    --foreground: 180 20% 98%;
    --card: 184 60% 7%;
    --card-foreground: 180 20% 98%;
    --popover: 184 60% 7%;
    --popover-foreground: 180 20% 98%;
    --primary: 184 37% 50%;
    --primary-foreground: 180 20% 98%;
    --secondary: 162 33% 40%;
    --secondary-foreground: 180 20% 98%;
    --muted: 184 30% 15%;
    --muted-foreground: 184 20% 70%;
    --accent: 162 33% 40%;
    --accent-foreground: 180 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 184 30% 15%;
    --input: 184 30% 15%;
    --ring: 184 37% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}